<ion-header no-border >
  <ion-toolbar>
  
    
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Adicionales</ion-title>
  </ion-toolbar>


  <ion-button>Scan</ion-button>
  <ion-item>
    <ion-label position="floating">IdProfesor</ion-label>
    <ion-input type="text" 
               required> </ion-input>

  </ion-item>
  <ion-item>
    <ion-label position="floating">RFCProfesor</ion-label>
    <ion-input type="text" 
               required> </ion-input>

  </ion-item>
<ion-item>
  <ion-title>
    Profesor: 
  </ion-title>
</ion-item>
  <p></p>
</ion-header>

<ion-content padding style="background: linear-gradient(180deg,#002B7A 0,#D59F0F);">
  
 
  <p></p>
  
  <!-- <ion-img src="../assets/escudo-d.png" Width=20% Height= 20%></ion-img> -->
  
  <ion-segment [(ngModel)]="segment">
    
    <ion-segment-button value="Llaves">
      Llaves
    </ion-segment-button>
    <ion-segment-button value="Proyectores">
      Adicionales
    </ion-segment-button>

  </ion-segment>


  <div [ngSwitch]="segment">
    <ion-card *ngSwitchCase="'Llaves'">
      <ion-card-header>
        Seleccione la llave o repuesto a escanear:
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label stacked class="config-view__input-label">No. Llave:</ion-label>
          <ion-input type="text"></ion-input>
         
          <ion-button > 
            <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
          </ion-button>

        </ion-item>
       
       
      <ion-button>
        <ion-icon name="camera"></ion-icon> </ion-button>
        
      </ion-card-content>

    </ion-card>
  
    <ion-card *ngSwitchCase="'Proyectores'">
      <ion-card-header>
        Seleccione los elementos a escanear:
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label stacked class="config-view__input-label"> No. Objeto:</ion-label>
          <ion-input type="text"></ion-input>
         
          <ion-button > 
            <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
          </ion-button>

        </ion-item>
       
       
      <ion-button>
        <ion-icon name="camera"></ion-icon>
      </ion-button>
      </ion-card-content>
    </ion-card>


  </div>

  <ion-button size="large" expand="block" >Agregar</ion-button>
  <ion-button size="large" expand="block" >Retirar</ion-button>
</ion-content>
