.top-20{
    margin-top: 20px;
  }
  .imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:none;
    padding-bottom: 10px;
    padding-top: 20px;
  
    }
  .easter{
    font-size: 10px;
    padding-top: 40%;
    padding-left: 60%;
  }
  .fondo {
    
    --background: linear-gradient(180deg,#002B7A 0,#D59F0F);
  }
  
  ion-item{
    --background: #fdfdfd;
    --color: rgb(49, 49, 49);
  }
  ion-button{
    --background: #5a90ee;
  }
  a{
    color: #fff;
  }
  @import url(https://fonts.googleapis.com/css?family=Roboto:300);
  
  .login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  
  }
  /* Caja formulario 
  */
  .form {
  position: display flex;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: right auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  }
  .form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #3880ff;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
  background: #3880ff;
  }
  .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
  }
  .form .message a {
  color: #3880ff;
  text-decoration: none;
  }
  .form .register-form {
  display: none;
  }
  .container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
  }
  .container:before, .container:after {
  content: "";
  display: block;
  clear: both;
  }
  .container .info {
  margin: 50px auto;
  text-align: center;
  }
  .container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
  }
  .container .info span {
  color: #4d4d4d;
  font-size: 12px;
  }
  .container .info span a {
  color: #000000;
  text-decoration: none;
  }
  .container .info span .fa {
  color: #EF3B3A;
  }
  body {
  background: #3880ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #518ffa, #518ffa);
  background: -moz-linear-gradient(right, #518ffa, #518ffa);
  background: -o-linear-gradient(right, #518ffa, #518ffa);
  background: linear-gradient(to left, #518ffa, #518ffa);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
  }
  