<ion-tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="tab1">
      <ion-icon name="qr-scanner" ></ion-icon>
      <ion-label >Registro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Mi perfil</ion-label>
    </ion-tab-button>

  
  </ion-tab-bar>

</ion-tabs>
