<ion-header no-border>


  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/data/avatar.png">
    </ion-avatar>
    <ion-label>Bienvenido</ion-label>
  </ion-item>




</ion-header>


<ion-content  padding class="fondo">






<ion-content padding class="fondo">
  <ion-list>
  <ion-item>
    <p> Mi perfil </p>
    <ion-button slot="end" Href="/" disabled>
      <ion-icon name="contact"></ion-icon>
  
      
    </ion-button>
   </ion-item>
    
   <ion-item>
     <p>Usuarios Activos</p>
    <ion-button slot="end" Href="/profs-activos" disabled>
      <ion-icon name="list-box"></ion-icon>
      
    </ion-button>
   </ion-item>
  
   <ion-item>
    <p>Agregar materiales</p>
   <ion-button slot="end" Href="/adicionales"  disabled>
    <ion-icon name="arrow-round-forward"></ion-icon>
     
   </ion-button>
  </ion-item>
  
  
  </ion-list>

  <ion-button Href="/">Cerrar Sesión</ion-button>
 
</ion-content>
