.top-20{
  margin-top: 20px;
}
.imgcenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border:auto;
  padding-bottom: 20px;
  padding-top: auto;
  padding-left: auto;
  padding-right: auto;

  }
.easter{
  font-size: 10px;
  padding-top: 20%;
  padding-left: 64%;
}
.fondo {
  
  --background: linear-gradient(180deg,#002B7A 0,#D59F0F);
}

ion-item{
  --background: #fdfdfd;
  --color: rgb(49, 49, 49);
}
ion-button{
  --background: #002b7a;
}
a{
  color: #fff;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
width: auto;
padding: 10px;
margin: auto;

}
/* Caja formulario 
*/
.form {
position: display flex;
z-index: 1;
background: #FFFFFF;
max-width: auto;
margin: right auto;
padding: 45px;
text-align: center;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
font-family: "Roboto", sans-serif;
outline: 0;
background: #f2f2f2;
width: 100%;
border: 0;
margin: 0 0 15px;
padding: 15px;
box-sizing: border-box;
font-size: 14px;
}
.form button {
font-family: "Roboto", sans-serif;
text-transform: uppercase;
outline: 0;
background: #002b7a;
width: 100%;
border: 0;
padding: 15px;
color: #FFFFFF;
font-size: 14px;
-webkit-transition: all 0.3 ease;
transition: all 0.3 ease;
cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
background: #002b7a;
}
.form .message {
margin: 15px 0 0;
color: #b3b3b3;
font-size: 12px;
}
.form .message a {
color: #002b7a;
text-decoration: none;
}
.form .register-form {
display: none;
}
.container {
position: relative;
z-index: 1;
max-width: 300px;
margin: 0 auto;
}
.container:before, .container:after {
content: "";
display: block;
clear: both;
}
.container .info {
margin: 50px auto;
text-align: center;
}
.container .info h1 {
margin: 0 0 15px;
padding: 0;
font-size: 36px;
font-weight: 300;
color: #1a1a1a;
}
.container .info span {
color: #4d4d4d;
font-size: 12px;
}
.container .info span a {
color: #000000;
text-decoration: none;
}
.container .info span .fa {
color: #EF3B3A;
}
body {
background: #002b7a; /* fallback for old browsers */
background: -webkit-linear-gradient(right, #518ffa, #518ffa);
background: -moz-linear-gradient(right, #518ffa, #518ffa);
background: -o-linear-gradient(right, #518ffa, #518ffa);
background: linear-gradient(to left, #518ffa, #518ffa);
font-family: "Roboto", sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;      
}

:root {
  --ion-color-primary: #002b7a;
  --ion-color-primary-rgb: 0,43,122;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #00266b;
  --ion-color-primary-tint: #1a4087;

  --ion-color-secondary: #D59F0F;
  --ion-color-secondary-rgb: 213,159,15;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #bb8c0d;
  --ion-color-secondary-tint: #d9a927;

  --ion-color-tertiary: #e0e3f1;
  --ion-color-tertiary-rgb: 224,227,241;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #c5c8d4;
  --ion-color-tertiary-tint: #e3e6f2;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
