<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Registro RFC 
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content  padding>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input type="text" placeholder="RFC"/>
        <button size="large" expand="block" routerLink="/materiales">Registrar</button>
        
      </form>
    </div>
  </div>
</ion-content>

