<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="root">

  <ion-item >
      <ion-text>
        <p>Opción deshabilitada temporalmente.</p>
        <p>Disculpe las molestias</p>
      </ion-text>
  </ion-item>
  <ion-button size="large" expand="block" routerLink="/"> Regresar</ion-button>


<p></p>


  <ion-list>
     
        <p>
         Por favor ingrese su correo 
        </p>
   
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" >


      </ion-input>

    </ion-item>

    <ion-item>
      <ion-button disabled> 
        Enviar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-text>Contacto desarrollo: ss.ti.incubadora@gmail.com</ion-text>
  </ion-toolbar>
</ion-footer>
